/* this is the main css file which  */

.App {
  text-align: center;
  font-size: 40px;
  display: ;
}

.link{
  font-size: 25px;
  font-weight: 500;
  color: Black;
  text-decoration: none;
  transition-duration: 0.4s;
  padding: 5px 10px;
  border-radius: 25px;
}

.link:hover{
  background-color: #1A1F38;
  color: white;
}

.green-link{
  background-color: #8fec04;
  border:1px solid #8fec04;
}

.yellow-link{
  background-color: #ECD504;
  border: 1px solid #ECD504;
}

.orange-link{
  background-color: #ec6104;
  border: 1px solid #ec6104;
}

.red-link{
  background-color: #ec041b;
  border:1px solid #ec041b;
}

@media only screen and (max-width: 580px) {
  .link{
    font-size: 15px;
    font-weight: 400;
  }
}