body {
  margin: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1F38;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img_s{
  height: 50px;
  width: 50px;
}

.foot{
  position: absolute; 
  bottom: 30px; 
  width: 95%; 
  color: #ECD504; 
  text-align: right;
}

@media only screen and (max-width: 580px) {
  .foot{
    text-align: center;
  }
}